# Yocto/Kas build output
build/
build-rpi4/
build-rpi4-encrypted/
build-imx8mp/
build-imx8mp-evk/
build-imx8mp-kirkstone/
sstate-cache/
downloads/
tmp/
cache/
mender-keys/private.key
mender-keys/private-rotation.key
!meta-my-layer/

# Bitbake/daemon artefacts
bitbake.lock
bitbake.sock
hashserve.sock

# Logs / sockets / editors
*.log
*.sock
*.swp
*.swo
.DS_Store

# Si tu ne veux pas versionner Poky / OE (recommandé)
EOF
