[submodule "meta-openembedded"]
    path = meta-openembedded
    url = https://github.com/openembedded/meta-openembedded.git
    branch = scarthgap

[submodule "poky"]
    path = poky
    url = https://github.com/yoctoproject/poky.git
    branch = scarthgap

[submodule "meta-mender"]
    path = meta-mender
    url = https://github.com/mendersoftware/meta-mender.git
    branch = scarthgap

[submodule "meta-mender-kernel"]
    path = meta-mender-kernel
    url = https://github.com/coreycothrum/meta-mender-kernel.git
    branch = scarthgap

[submodule "meta-custom"]
    path = meta-custom
    url = https://github.com/stanleyselvaratnam/meta-custom.git
    branch = main

[submodule "meta-raspberrypi"]
    path = meta-raspberrypi
    url = https://git.yoctoproject.org/git/meta-raspberrypi
    branch = scarthgap

[submodule "meta-arm"]
    path = meta-arm
    url = https://git.yoctoproject.org/git/meta-arm
    branch = scarthgap

[submodule "meta-ti"]
    path = meta-ti
    url = https://git.yoctoproject.org/git/meta-ti
    branch = scarthgap

[submodule "meta-freescale"]
    path = meta-freescale
    url = https://github.com/Freescale/meta-freescale.git
    branch = scarthgap

[submodule "meta-freescale-3rdparty"]
    path = meta-freescale-3rdparty
    url = https://github.com/Freescale/meta-freescale-3rdparty.git
    branch = scarthgap

[submodule "meta-freescale-distro"]
    path = meta-freescale-distro
    url = https://github.com/Freescale/meta-freescale-distro.git
    branch = scarthgap

[submodule "meta-qt5"]
    path = meta-qt5
    url = https://github.com/meta-qt5/meta-qt5.git
    branch = scarthgap

[submodule "meta-security"]
    path = meta-security
    url = https://git.yoctoproject.org/git/meta-security
    branch = scarthgap

[submodule "meta-toradex-bsp-common"]
    path = meta-toradex-bsp-common
    url = https://git.toradex.com/meta-toradex-bsp-common.git
    branch = scarthgap-7.x.y

[submodule "meta-toradex-nxp"]
    path = meta-toradex-nxp
    url = https://git.toradex.com/meta-toradex-nxp.git
    branch = scarthgap-7.x.y

[submodule "meta-toradex-distro"]
    path = meta-toradex-distro
    url = https://git.toradex.com/meta-toradex-distro.git
    branch = scarthgap-7.x.y

[submodule "meta-toradex-demos"]
    path = meta-toradex-demos
    url = https://git.toradex.com/meta-toradex-demos.git
    branch = scarthgap-7.x.y

[submodule "meta-toradex-security"]
    path = meta-toradex-security
    url = https://github.com/toradex/meta-toradex-security.git
    branch = scarthgap-7.x.y

[submodule "meta-toradex-tezi"]
    path = meta-toradex-tezi
    url = https://github.com/toradex/meta-toradex-tezi.git
    branch = scarthgap-7.x.y

[submodule "meta-toradex-ti"]
    path = meta-toradex-ti
    url = https://git.toradex.com/meta-toradex-ti.git
    branch = scarthgap-7.x.y

[submodule "meta-lts-mixins"]
    path = meta-lts-mixins
    url = https://git.yoctoproject.org/git/meta-lts-mixins
    branch = scarthgap