# Yocto/Kas build output
build/
sstate-cache/
downloads/
tmp/
cache/
!meta-my-layer/

# Bitbake/daemon artefacts
bitbake.lock
bitbake.sock
hashserve.sock

# Logs / sockets / editors
*.log
*.sock
*.swp
*.swo
.DS_Store

# Si tu ne veux pas versionner Poky / OE (recommandé)
EOF
