[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "poky"]
	path = poky
	url = https://github.com/yoctoproject/poky
	branch = scarthgap
[submodule "meta-mender"]
	path = meta-mender
	url = https://github.com/mendersoftware/meta-mender.git
	branch = scarthgap
[submodule "meta-custom"]
	path = meta-custom
	url = https://github.com/stanleyselvaratnam/meta-custom.git
	branch = main
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = https://git.yoctoproject.org/git/meta-raspberrypi
	branch = scarthgap
[submodule "meta-mender-community"]
	path = meta-mender-community
	url = https://github.com/mendersoftware/meta-mender-community.git
	branch = scarthgap
[submodule "meta-lts-mixins-uboot"]
	path = meta-lts-mixins-uboot
	url = https://git.yoctoproject.org/meta-lts-mixins
	branch = scarthgap/u-boot
[submodule "layers/meta-secure-core"]
	path = layers/meta-secure-core
	url = https://github.com/Wind-River/meta-secure-core.git
[submodule "meta-arm"]
	path = meta-arm
	url = ./meta-arm
[submodule "meta-ti"]
	path = meta-ti
	url = ./meta-ti
[submodule "meta-toradex-ti"]
	path = meta-toradex-ti
	url = ./meta-toradex-ti
[submodule "meta-toradex-tezi"]
	path = meta-toradex-tezi
	url = ./meta-toradex-tezi
[submodule "meta-freescale"]
	path = meta-freescale
	url = ./meta-freescale
[submodule "meta-qt5"]
	path = meta-qt5
	url = ./meta-qt5
[submodule "meta-security"]
	path = meta-security
	url = ./meta-security
[submodule "meta-freescale-distro"]
	path = meta-freescale-distro
	url = ./meta-freescale-distro
[submodule "meta-freescale-3rdparty"]
	path = meta-freescale-3rdparty
	url = ./meta-freescale-3rdparty
[submodule "meta-toradex-bsp-common"]
	path = meta-toradex-bsp-common
	url = ./meta-toradex-bsp-common
[submodule "meta-toradex-nxp"]
	path = meta-toradex-nxp
	url = ./meta-toradex-nxp
[submodule "meta-toradex-distro"]
	path = meta-toradex-distro
	url = ./meta-toradex-distro
[submodule "meta-toradex-demos"]
	path = meta-toradex-demos
	url = ./meta-toradex-demos
[submodule "meta-toradex-security"]
	path = meta-toradex-security
	url = ./meta-toradex-security
[submodule "meta-lts-mixins"]
	path = meta-lts-mixins
	url = ./meta-lts-mixins
[submodule "meta-mender-kernel"]
	path = meta-mender-kernel
	url = ./meta-mender-kernel
