[Unit]
Description=Initialize LUKS encrypted partition
After=local-fs-pre.target
Before=local-fs.target
DefaultDependencies=no
ConditionPathExists=/dev/mmcblk0p5

[Service]
Type=oneshot
ExecStart=/usr/sbin/luks-init
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=sysinit.target
